@import "src/styles/variables";

.card {
    cursor: pointer;
}

.form-big-search {
    display: block;
    // width: 100%;
    background: $body-bg;
    border: 0;
    outline: none;
    flex-grow: 1;
    margin: 0 1rem;
}

.faded {
    opacity: .6;

    &:hover {
        opacity: .9;
    }
}
