<main class="container container-fluid">
  <div class="row">
    <div class="col-12 my-5">
      <form action="" class="d-flex align-items-center">
        <svg id="i-search" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="butt"
          stroke-linejoin="miter" stroke-width="3.5">
          <circle cx="14" cy="14" r="12" />
          <path d="M23 23 L30 30" />
        </svg>
        <input type="text" class="form-big-search h1" value="Programmer">
      </form>
    </div>
    <div class="col-12 mb-3" *ngFor="let i of [null, null]">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My name</h5>
          <h6 class="card-subtitle mb-2 text-muted">Headline</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>

</main>
