<main class="container container-fluid">
  <div class="row">
    <div class="col-12 my-5">
      <form (submit)="onSubmit(query)" class="d-flex align-items-center">
        <svg id="i-search" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="butt"
          stroke-linejoin="miter" stroke-width="3.5">
          <circle cx="14" cy="14" r="12" />
          <path d="M23 23 L30 30" />
        </svg>
        <input type="text" name="query" [(ngModel)]="query" class="form-big-search h1" placeholder="Search something">
      </form>
    </div>
    <div class="col-12 mb-3" *ngIf="searching; else notSearching">Searching...</div>
    <ng-template #notSearching>
      <ng-container *ngIf="searched; else empty">

        <div class="col-12 mb-3" *ngIf="!results?.length; else showResults">Nothing found :(</div>
        <ng-template #showResults>
          <div class="col-12 mb-3">Showing results for <strong>{{searched}}</strong></div>

          <div class="col-12 mb-3" *ngFor="let curriculum of results">
            <a class="card" routerLink="/curriculum/{{curriculum.owner.id}}" [class.faded]="curriculum.block">
              <div class="card-body">
                <h5 class="card-title">{{curriculum.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{curriculum.headline}}</h6>
                <p class="card-text">{{curriculum.email}}</p>
              </div>
            </a>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #empty>
        <div class="col-12 mb-3">Please, type something...</div>
      </ng-template>
    </ng-template>
  </div>

</main>
