<main class="container container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="./assets/profilepicture.png" class="mt-5 img-thumbnail rounded-circle profile-picture">
      <h1 class="h1 text-center">Jhon Doe</h1>
      <h3 class="h3 text-center text-muted">Web developer</h3>
    </div>
    <div class="col-12 mb-4">
      <h2>About</h2>
      <p class="my-0"><strong>Phone: </strong>(16) 998 887 779</p>
      <p class="my-0"><strong>E-mail: </strong>jhon.doe@example.com</p>
      <p class="my-0"><strong>Github: </strong><a href="https://github.com/jhondoe">github.com/jhondoe</a></p>
    </div>
    <div class="col-12 mb-4">
      <h2>Academic</h2>
      <p class="my-0"><strong>Sao Paulo University</strong></p>
      <p class="my-0">Computer Science | <span class="text-muted">2014 - 2019</span></p>
    </div>
    <div class="col-12 mb-4">
      <h2>Past Experiences</h2>
      <p class="my-0"><strong>Tolkien Labs</strong></p>
      <p>Web developer | <span class="text-muted">Dec/2016 - Today</span></p>

      <p class="my-0"><strong>Tolkien Labs</strong></p>
      <p>Web developer intern | <span class="text-muted">Apr/2016 - Dec/2016</span></p>
    </div>
    <div class="col-12 mb-4">
      <h2>Articles</h2>
      <p class="my-0"><strong>How to make your own lightsaber</strong></p>
      <p>Nature | <span class="text-muted">Jul/2018</span></p>
    </div>
    <div class="col-12 mb-4">
      <h2>Skills</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <h4>Languages</h4>
          <ul>
            <li>Python</li>
            <li>JavaScript/TypeScript</li>
            <li>Java/Groovy</li>
            <li>HTML</li>
            <li>CSS/SASS</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <h4>Tools / DevOps</h4>
          <ul>
            <li>Docker</li>
            <li>Git</li>
            <li>Linux</li>
            <li>Jira</li>
            <li>CircleCI</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <h4>Web Frontend</h4>
          <ul>
            <li>Angular</li>
            <li>Angular.js</li>
            <li>Bootstrap</li>
            <li>MaterializeCSS</li>
            <li>Progressive Web Apps</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <h4>Web Backend</h4>
          <ul>
            <li>Django</li>
            <li>Grails</li>
            <li>Sails</li>
            <li>Express</li>
            <li>Nest</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
