<main class="container container-fluid">
  <div class="row" *ngIf="curriculum; else empty">
    <div class="col" *ngIf="!mine && iAmAdmin">
      <div ngbDropdown class="d-inline-block mt-3">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="block(false)" class="dropdown-item" *ngIf="curriculum.block; else notBlocked">Unblock Curriculum</button>
          <ng-template #notBlocked>
            <button (click)="block(true)" class="dropdown-item">Block Curriculum</button>
          </ng-template>
          <button (click)="setAdmin(false)" class="dropdown-item" *ngIf="curriculum.owner.isAdmin; else notAdmin">Demote Admin</button>
          <ng-template #notAdmin>
            <button (click)="setAdmin(true)" class="dropdown-item">Promote to Admin</button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-12">
      <img src="./assets/profilepicture.png" class="mt-5 img-thumbnail rounded-circle profile-picture">
      <h1 class="h1 text-center">{{curriculum.name}}</h1>
      <h3 class="h3 text-center text-muted">{{curriculum.headline}}</h3>
    </div>
    <div class="col-12 mb-4">
      <h2>About</h2>
      <p class="my-0"><strong>Phone: </strong>{{curriculum.phone}}</p>
      <p class="my-0"><strong>E-mail: </strong>{{curriculum.email}}</p>
      <p class="my-0" *ngIf="curriculum.github"><strong>Github: </strong><a href="{{curriculum.github}}">{{curriculum.github}}</a></p>
      <p class="my-0" *ngIf="curriculum.linkedin"><strong>LinkedIn: </strong><a href="{{curriculum.linkedin}}">{{curriculum.linkedin}}</a></p>
    </div>
    <div class="col-12 mb-4">
      <h2>Education</h2>
      <ng-container *ngFor="let education of curriculum.education">
        <p class="my-0"><strong>{{education.universityName}}</strong></p>
        <p>{{education.course}}<ng-container *ngIf="education.from || education.until"> | <span class="text-muted">{{education.from}}{{education.from && education.until ? ' - ' : ''}}{{education.until}}</span></ng-container></p>
      </ng-container>
    </div>
    <div class="col-12 mb-4">
      <h2>Past Experiences</h2>
      <ng-container *ngFor="let work of curriculum.work">
        <p class="my-0"><strong>{{work.place}}</strong></p>
        <p>{{work.role}}<ng-container *ngIf="work.from || work.until"> | <span class="text-muted">{{work.from}}{{work.from && work.until ? ' - ' : ''}}{{work.until}}</span></ng-container></p>
      </ng-container>
    </div>
    <div class="col-12 mb-4">
      <h2>Articles</h2>
      <ng-container *ngFor="let publication of curriculum.publications">
        <p class="my-0"><strong>{{publication.title}}</strong></p>
        <p>{{publication.publisher}}<ng-container *ngIf="publication.date"> | <span class="text-muted">{{publication.date}}</span></ng-container>
        </p>
      </ng-container>
    </div>
    <div class="col-12 mb-4">
      <h2>Skills</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let skillsGroup of curriculum.skillsGroups">
          <h4>{{skillsGroup.groupTitle}}</h4>
          <ul>
            <li>{{skillsGroup.sk1}}</li>
            <li *ngIf="skillsGroup.sk2">{{skillsGroup.sk2}}</li>
            <li *ngIf="skillsGroup.sk3">{{skillsGroup.sk3}}</li>
            <li *ngIf="skillsGroup.sk4">{{skillsGroup.sk4}}</li>
            <li *ngIf="skillsGroup.sk5">{{skillsGroup.sk5}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <h2>Languages</h2>
      <ng-container *ngFor="let language of curriculum.languages">
        <p class="my-0"><strong>{{language.name}}</strong></p>
        <p>{{language.proficiency}}</p>
      </ng-container>
    </div>
  </div>
  <ng-template #empty>
    <div class="row">
      <div class="col-12 mb-4 mt-3">
        <h2>Looks like you don't have a curriculum yet</h2>
        <a routerLink="/edit/my-curriculum">Click here to create yours</a>
      </div>
    </div>
  </ng-template>
</main>
